@using May_23.Controllers
@using May_23.Models


<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <h1><a href="/Home/AddCandidate">Add Candidate</a></h1>
        <h1><a href="/Home/Pending">View Pending</a></h1>
        <h1><a href="/Home/Confirmed">View Confirmed</a></h1>
        <h1><a href="/Home/Refused">View Refused</a></h1>
        <br />
    </div>
</div>

@section scripts{
    <script src="~/Scripts/JavaScript.js"></script>
}

